<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar no-lines>
    <ion-title style="background-color: #045584"></ion-title>
  </ion-navbar>

</ion-header>

<ion-content #pageContent fullscreen padding style="background-color:#045584">

  <div style="width: 100%;height:auto" text-center>
    <img src="../../assets/imgs/logo1.png" class="iconTnR">
  </div>
  <div class="logo" text-center>
    <img src="../../assets/imgs/login.png" class="iconPeople">
  </div>


  <div class="formInput" *ngIf="!isLogged && !isFailed">
      <!-- !isLogged && !isFailed -->
    <form [formGroup]="formGroup">
      <ion-list>
        <h3 class="title">Employee Self Service</h3>
        <hr style="background-color: white">

        <!-- <ion-item>
          <ion-label floating>Company URL</ion-label>
          <ion-input type="url" value="" name="companyURL" required></ion-input>
        </ion-item> -->

        <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input type="text" name="email"  formControlName="email" value="" required></ion-input>
        </ion-item>
        <!-- formControlName="email" -->

        <!-- formControlName="password"  -->

        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input type="password" name="password" formControlName="password" value="" required></ion-input>
        </ion-item>
        <ion-item class="item">
          <ion-label class="lable">I agree to the <u>Term of service</u> and <u>Privacy Policy</u></ion-label>
          <ion-checkbox formControlName="cucumber" [(ngModel)]="cucumber"></ion-checkbox>
        </ion-item>

        <button ion-button class="button" block (click)="login()" [disabled]="!cucumber">Login</button>
        <!-- {{ formGroup.value | json}} -->
      </ion-list>
    </form>
  </div>

  <div *ngIf="isLogged">
      <!-- isLogged -->
    <ion-list class="formInput">
      <h3 style="color:white;text-align: center">Sign in Successful</h3>
      <hr style="background-color: white">
      <h6 style="text-align: center">Please Select Company</h6>
      <div radio-group>
        <ion-item *ngFor="let item of listCompany;let i = index" no-lines>
          <ion-label> <ion-icon name="arrow-forward" style="margin-right: 30px;margin-left: 30px"></ion-icon> {{item}}</ion-label>
          <ion-radio color="comfirm" [value]="i" (click)="selectCompany(i)"></ion-radio>
        </ion-item>
      </div>
      <!-- <h4 *ngFor="let item of listCompany" style="margin-left: 50px">
        <ion-icon name="arrow-forward" style="margin-right: 30px"></ion-icon>
        {{item}}
      </h4> -->
      <button ion-button style="background-color: #99CC00" [disabled]="company === '' || company == null" block (click)="loginConfirm()">Confirm</button>
    </ion-list>
  </div>

  <div *ngIf="isFailed" padding>
    <h3 class="title">Employee Self Service</h3>
    <hr style="background-color: white">
    <div class="logo" text-center>
      <ion-icon name="warning" class="logo-warning"></ion-icon>
    </div>
    <h1 style="color: #FFCC00;text-align: center">LOGIN FAILED</h1>
    <h5 style="color:white;text-align: center" (click)="reTry()"><u>Please try again</u></h5>

  </div>

</ion-content>