<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" style="color:white !important"></ion-icon>
    </button>
    <ion-title>My Profile</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div class="backGroudProfile" text-center>
    <div class="avata">
      <ion-slides pager>
        <ion-slide class="avataGroup">  
          <div class="avataElement"  style="background-image: url('../../assets/imgs/user.png');">
          </div>
        </ion-slide>

        <ion-slide class="avataGroup" >
          <div class="avataElement" style="background-image: url('../../assets/imgs/qrcode.png');">
          </div>
        </ion-slide>

      </ion-slides>
    </div>
  </div>
  <br>
  <div class="content">
    <ion-list>
      <ion-item class="empName">
        <ion-label style="white-space: normal;">{{first_name}}</ion-label>
      </ion-item>
      <ion-item class="empID">
        <div style="font-size: 16px">Employee ID:</div>{{emp_id}}
      </ion-item>
      <ion-item class="empDepartment" text-center>
        {{department}}
        <br>
        <h1 class="empDesignnation"><b>{{designnation}}</b></h1>
        <br>
        <div class="hrNSup">
          <b>HR master:</b> {{hrMaster}}
          <br>
          <b>Supervisor:</b> {{supervisor}}
        </div>

      </ion-item>
    </ion-list>
  </div>

</ion-content>
